// $lt-gray: #dddddd;
// $background-dark: #512DA8;
// $background-light: #9575CD;
// $background-pale: #D1C4E9;

.nav-bar {
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:2;

    box-shadow: 0 3px 5px -1px rgba(33, 33, 33, 0.2),
                0 6px 10px 0 rgba(144, 144, 144, 0.14),
                0 1px 18px 0 rgba(130, 130, 130, 0.12);
}

.jumbotron {
    // background-color: $background-pale;
    margin: 0px auto;
    padding: 120px 30px 70px;
    min-height: 150px;
}