/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';

@include mat-core();

@import 'app/footer/footer.component.scss-theme';
@import 'app/header/header.component.scss-theme';
@import 'app/contact/contact.component.scss-theme';

// Define an alternate dark theme.
$dark-primary: mat-palette($mat-grey, 900, 500, 900);
$dark-accent:  mat-palette($mat-blue-grey, 200);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($dark-theme);

@mixin custom-component-theme($theme) {
    @include footer-component-theme($theme);
    @include header-component-theme($theme);
    @include contact-component-theme($theme);
}

body {
    padding: 0;
    margin: 0;
    color: map-get(map-get($dark-theme, foreground), text);
    background-color: map-get(map-get($dark-theme, background), background);
    font-family: sans-serif;
}

.container {
    margin: 20px;
    display: flex;
}

.flex-spacer {
    flex: 1 1 auto;
}

.highlight {
    background-color: mat-color($dark-accent);
    border: 1px solid;
    z-index: 1;
    transform: scale(1.01);
}

@include custom-component-theme($dark-theme);